<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/share/1BqLdN1csb/" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/centarsensus/?igsh=MTV6emU1ZjRlb2d0cw%3D%3D#" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <div class="footer-links">
    <a routerLink="/kontakt">Kontakt</a>
  </div>

  <p class="copyright">
    Sva prava pridržana © Centar Sensus
  </p>
</footer>
