.footer {
  background-color: #cbc0db;
  margin-top: auto;
  padding: 1.5rem 1rem;
  text-align: center;
  color:white;
  font-size: 1rem;
 
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b39adc;
  color: #b39adc;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.social-icons a:hover {
  background-color: #c8beda;
  color: white;
}

.footer-links {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: bold;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .social-icons {
    gap: 1rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 0.5rem;
  }
}
