<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/" (click)="menuOpen = false">
        <img src="/logo.png" alt="Logo" />
      </a>
    </div>


    <ul class="nav-links" [class.active]="menuOpen">
      <li><a routerLink="/" (click)="menuOpen = false">POČETNA</a></li>
      <li><a routerLink="/dogadaji" (click)="menuOpen = false">DOGAĐAJI</a></li>
      <li><a routerLink="/galerija" (click)="menuOpen = false">GALERIJA</a></li>
      <li><a routerLink="/onama" (click)="menuOpen = false">O NAMA</a></li>
      <li><a routerLink="/kontakt" (click)="menuOpen = false">KONTAKT</a></li>

    </ul>


    <div class="hamburger" (click)="toggleMenu()">
      <span *ngIf="!menuOpen">&#9776;</span> <!-- hamburger -->
      <span *ngIf="menuOpen">&#10005;</span> <!-- X -->
    </div>
  </nav>
</header>