<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/" (click)="menuOpen = false">
        <img src="assets/logo.png" alt="Logo" />
      </a>
    </div>


    <ul class="nav-links" [class.active]="menuOpen">
      <li><a routerLink="/" (click)="closeMenu()">POČETNA</a></li>
      <li><a routerLink="/dogadaji" (click)="closeMenu()">DOGAĐAJI</a></li>
      <li><a routerLink="/galerija" (click)="closeMenu()">GALERIJA</a></li>
      <li><a routerLink="/onama" (click)="closeMenu()">O NAMA</a></li>
      <li><a routerLink="/kontakt" (click)="closeMenu()">KONTAKT</a></li>
    </ul>



    <div class="hamburger" (click)="toggleMenu()">
      <span *ngIf="!menuOpen">&#9776;</span>
      <span *ngIf="menuOpen">&#10005;</span>
    </div>
  </nav>
</header>