

.page-content {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.route-wrapper {
  position: relative;
  min-height: inherit;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
